*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.kartya{
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}


table, tr, td{
    border: 1px black solid;
    padding: 15px;
    border-collapse: collapse;
    text-align: center;
    padding: 25px;
}

.container{
    border: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: row wrap;
}

.asztal{
    display: flex;
    align-items: center;
}

form{
    border: 1px solid black;
    background-color: grey;
    width: max-content;
    padding: 10px;
}